{% extends "base.html" %} {% load static %} {% block body %}
<div class="container">
  <div class="news-container">
    <div class="news-header">
      <h1>
        Nepal is in priority under 'neighbours first' policy: Indian PM Modi
      </h1>
      <div class="news-meta">
        <span>Author: Prateek</span>
        <span>Published on: July 19, 2024</span>
      </div>
    </div>
    <div class="image">
      <img src='{% static "image/modi.jpg" %}' alt="News Image" />
    </div>

    <div class="news-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui
        mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor
        neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim.
        Phasellus molestie magna non est bibendum non venenatis nisl tempor.
        Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor
        posuere. Praesent id metus massa, ut blandit odio.
      </p>
    </div>
    <div class="additional-news">
      <h3>Additional News: Capital</h3>
      <ul>
        <li>
          <a href="#">
            <img src='{% static "image/modi.jpg" %}' alt="additional-news" />
            <p>
              Nepal is in priority under 'neighbours first' policy: Indian PM
              Modi
            </p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src='{% static "image/modi.jpg" %}' alt="additional-news" />
            <p>Additional News Item 1</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src='{% static "image/modi.jpg" %}' alt="additional-news" />
            <p>Additional News Item 1</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src='{% static "image/modi.jpg" %}' alt="additional-news" />
            <p>Additional News Item 1</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock body %}
