{% extends "base.html" %} {% load static %} {% block title %} NewsNepal | {{category}} News
{% endblock title %} {% block body %}

<div class="MainContainer">
  <div class="Container">
    <h1>{{category}} News</h1>
    <hr />
    <div class="Grid">
      {% for news in newss %}
      <a href="{% url "news" news.id %} ">
      <div class="NewsItem">
        <div class="NewsImage">
          <img src=" {{ news.image.url }} " alt="News Image 1" />
        </div>
        <div class="NewsContent">
            <div class="NewsTitle">{{ news.title }}</div>
            <div class="NewsMeta">
              Author: {{ news.author.name }} | Published on: 
              {{ news.published_date|date:"F j, Y" }}
            </div>
            <div class="NewsDescription">
              {{ news.content|slice:":100" }} .....
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}
