{% extends "base.html" %} {% load static %} {% block title %} Home 
{% endblock %} {% block body %}

<section class="main">
  {% for category, news_list in news_by_category.items %} {% if news_list %}

  <div class="news-section">
    <h2>{{ category|title }}</h2>
    <div class="news-grid">
      {% for news in news_list %}
      <div class="news-item" id="{{ news.category }}">
        <a href="{% url 'news' news.id %}">
          <img
            src="{{ news.image.url }}"
            alt="{{ news.title }}"
            style="width: 400px; height: 300px"
          />
          <h3>{{ news.title }}</h3>
          <p>{{ news.author }} | {{ news.date|timesince }} ago</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endfor %}
</section>
{% endblock %}
