<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsNepal | Post news</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="">Title</label>
        <input type="text" name="" id="">

        <label for="">Image</label>
        <input type="file">

        <label for="">Content</label>
        <textarea name="" id=""></textarea>

        <select name="category" id="">
            <option value="Capital">Capital</option>
            <option value="sports">Sports</option>
            <option value="Global">Global</option>
        </select>
    </form>
</body>
</html>