<section class="footer">
  <div class="foot">
    <div class="logo">
      <span>NewsNepal</span>
    </div>
    <div class="nav">
      <h1>Navigation</h1>
      {% if page == 'home' %}
      <ul class="footernav">
        <li><a href="#capital">Capital</a></li>
        <li><a href="#nation">Nation</a></li>
        <li><a href="#politics">Politics</a></li>
        <li><a href="#global">Global</a></li>
        <li><a href="#stock">Stock</a></li>
        <li><a href="#sports">Sports</a></li>
        <li><a href="#science_tech">Science &amp; tech</a></li>
        <li><a href="#weather">Weather</a></li>
      </ul>
      {% else %}
      <ul class="footernav">
        <li><a href="{% url 'newsByCategory' 'capital' %}">Capital</a></li>
        <li><a href="{% url 'newsByCategory' 'nation' %}">Nation</a></li>
        <li><a href="{% url 'newsByCategory' 'politics' %}">Politics</a></li>
        <li><a href="{% url 'newsByCategory' 'global' %}">Global</a></li>
        <li><a href="{% url 'newsByCategory' 'stock' %}">Stock</a></li>
        <li><a href="{% url 'newsByCategory' 'sports' %}">Sports</a></li>
        <li>
          <a href="{% url 'newsByCategory' 'science_tech' %}"
            >Science &amp; tech</a
          >
        </li>
        <li><a href="{% url 'newsByCategory' 'weather' %}">Weather</a></li>
      </ul>
      {% endif %}
    </div>
    <div class="footercontact">
      <h1>Contact</h1>
      <p>Rapti-09, Rasauli<br />Chitwan</p>
      <p>056-565656</p>
      <p>
        <a href="mailto:XYZSchool.info@gmail.com">newsNepal.info@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="footersocial">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</section>
<section class="copyright">
  <div class="content">
    <p>&copy; 2024 <span>Pratik</span> | All Rights Reserved</p>
  </div>
</section>
