<section class="Main">
  <div class="logo">
    <a href="#">News<span>Nepal</span></a>
    <div class="login">
      <a href="#"><i class="fa-solid fa-user"></i> Login</a>
    </div>
  </div>
  <hr />
  <header>
    <!-- NAVBAR  -->
    <nav class="navbar">
      <ul class="links">
        <li><a href="#">Capital</a></li>
        <li><a href="#about">Nation</a></li>
        <li><a href="#contact">Politics</a></li>
        <li><a href="">Global</a></li>
        <li><a href="">Stock</a></li>
        <li><a href="">Sports</a></li>
        <li><a href="">Science &amp; tech</a></li>
        <li><a href="">Weather</a></li>
      </ul>
    </nav>
  </header>
</section>
